/*Global*/
.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 1280px;
    margin: 63px auto 30px auto;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #2C2C2C;
}

/*Header*/
.header {
    height: 189px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*Title*/
.header__title {
    margin-bottom: 40px;
}

.header__title-link {
    text-decoration: none;
    color: #000000;
    font-size: 80px;
}

.header__title--highlight {
    color: #4BCAFF;
}

/*Navigation*/
.header__nav {
    background-color: #35444F;
}

.header__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__link:hover {
    background-color: #222F3A;
}

.header__link {
    display: inline-block;
    padding: 24px 40px 18px 40px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    transition: all 0.3s ease;
    text-decoration: none;
    text-transform: capitalize;
    color: #FFFFFF;
    font-size: 24px;
}

/*Sidebar*/
/*Navigation*/
.aside__nav {
    border: 1px solid black;
    width: 344px;
}

.aside__list-item {
    cursor: pointer;
    padding: 27px 0 27px 44px;
    transition: all 0.3s ease;

}

.aside__list-item:hover {
    padding: 27px 0 27px 88px;
    background-color: #DBDBDB;
}

.aside__list-item:hover > .aside__link {
    color: #000000;
}

.aside__link {
    font-size: 27px;
    text-decoration: none;
    color: #485863;
}

/*Main*/
/*Container*/
.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 48px;
    margin-bottom: 51px;
}

/*Illustration*/
.main {
    width: 885px;
}

.main__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid black;
    margin-bottom: 37px;
}

.main__logo-image {
    cursor: pointer;
    transition: transform 1s ease;
}

.main__logo-image:hover {
    transform: scale(1.3);
}


/*Paragraphs*/
.main__paragraph:first-child {
    margin-bottom: 10px;
}

/*Footer*/
.footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 69px;
    padding: 0 40px;
}

footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #63696E;
    opacity: 48%;
    z-index: -1;
}

/*Navigation*/
.footer__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 875px;
}

.footer__list-item {
    cursor: pointer;
}

.footer__link {
    text-decoration: none;
    color: #0C1927;
    font-size: 28px;
    position: relative;
    transition: all 0.3s ease;
    border-bottom: none;
}

/*.footer__link:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    bottom: -10px;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: transparent;*/
/*    transition: all 0.3s ease;*/
/*}*/

/*.footer__link:hover:before {*/
/*    background-color: #3181A6;*/
/*}*/

.footer__link:hover {
    text-decoration: none;
    color: #3181A6;
    padding-bottom: 10px;
    border-bottom: 1px solid #3181A6;
}

.footer__copyright {
    font-size: 24px;
    color: #010101;
}
